<footer class="bg-gray-800 py-6 absolute bottom-0 w-full">
  <div class="text-center">
    <p>Página hecha por el equipo de <strong>πnu</strong> para el proyecto de <strong>WorkCells</strong></p>
  </div>
</footer>

</div> <!-- Termina el div del cuerpo -->

</div> <!-- Termina el div del flex -->

</body>
</html>
