</div>
</section>
<footer class="bg-gray-800 text-white py-6">
  <div class="text-center">
    <p>Página hecha por el equipo de <strong>πnu</strong> para el proyecto de <strong>WorkCells</strong></p>
  </div>
</footer>
</body>
</html>
