<!DOCTYPE html>
<<<<<<< HEAD
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WorkCells</title>
    <link rel="stylesheet" href="../../public/css/output.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>
  <body class="container">
    <section>
      <h1 class="font-sans bg-red-50">WorkCells</h1>
    </section>
=======
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>WorkCells</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../../public/css/style.css" />
</head>
<body class="max-w-screen-xl mx-auto p-6">
  <section>
    <h1 class="text-4xl font-bold">WorkCells</h1>
  </section>
</body>
>>>>>>> ec3187ac4b12de5823d8f463343d3f7f064eb58f
