<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>WorkCells</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="max-w-screen-xl mx-auto p-6">
  <section class="p-6">
    <h1 class="text-4xl font-bold">WorkCells</h1>
  </section>
</body>
