<div class="sidebar">
  <!-- Aquí se agregan los elementos de la navbar -->
  <a href="/home" class="navbar-item"> Home </a>
  <a href="/calendar" class="navbar-item">Calendar</a>
  <a href="/department" class="navbar-item"> Department </a>
  <a href="/vacation" class="navbar-item"> Vacation</a>
  <a href="/fault" class="navbar-item">Fault</a>
  <a href="/absence" class="navbar-item">Absence</a>
  <a href="/holiday" class="navbar-item">Holidays</a>
  <a href="/oneToOne" class="navbar-item">One To One</a>
  <a href="/employee" class="navbar-item">Employee</a>
</div>
