<div class="h-screen bg-gray-800 text-white w-fit p-4 space-y-4">
    <button class="block py-2 px-4 w-full rounded bg-gray-700 hover:bg-gray-800" id="openAndCloseNav">></button>
    <!--La clase toggleIcon permite "eliminar" el elemento en el toggle-->
    <a class="block py-2 px-4 rounded bg-gray-700 hover:bg-gray-800"><span class="">:)</span><span class="toggleIcon hidden ml-2">Texto</span></a>
    <a class="block py-2 px-4 rounded bg-gray-700 hover:bg-gray-800"><span class="">:)</span><span class="toggleIcon hidden ml-2">Texto</span></a>
    <a class="block py-2 px-4 rounded bg-gray-700 hover:bg-gray-800"><span class="">:)</span><span class="toggleIcon hidden ml-2">Texto</span></a>
    <a class="block py-2 px-4 rounded bg-gray-700 hover:bg-gray-800"><span class="">:)</span><span class="toggleIcon hidden ml-2">Texto</span></a>
    <a class="block py-2 px-4 rounded bg-gray-700 hover:bg-gray-800"><span class="">:)</span><span class="toggleIcon hidden ml-2">Texto</span></a>

</div>

<script>
    const navToggle = document.getElementById('openAndCloseNav');
    const navText = document.querySelectorAll('.toggleIcon'); // Fixed class name

    navToggle.addEventListener('click', () => {
        if (navToggle.textContent == "<") navToggle.textContent = ">";
        else navToggle.textContent = "<";
        navText.forEach(navElement => {
            navElement.classList.toggle('hidden'); // Toggle visibility
            navElement.classList.toggle('inline'); // Optionally add 'inline-block' for display
        });
    });
</script>