<div id='navBar' class='h-screen bg-neutral-900 w-20 border-r-[1px] border-neutral-700 transition-all duration-600 ease-in-out'>
    <button id='openAndCloseNav' class='transition-all duration-300 ease-in-out'>-></button>

    <a class='block p-2 overflow-hidden text-nowrap overflow-hidden'>
        <span>:)</span>
        <span class='toggleIcon ml-2 opacity-0 transition-opacity duration-100 ease-in-out'>Texto</span>
    </a>

    <a class='block p-4'></a>
</div>

<script>
    const navToggle = document.getElementById('openAndCloseNav');
    const navBar = document.getElementById('navBar');
    const navText = document.querySelectorAll('.toggleIcon');

    navToggle.addEventListener('click', () => {
        navBar.classList.toggle('w-20');
        navBar.classList.toggle('w-80');
        navToggle.classList.toggle('rotate-180');
        
        navText.forEach((navElement) => {
            navElement.classList.toggle('opacity-0');
            navElement.classList.toggle('opacity-100');
        });
    });
</script>