<div class="status bgStatusInfo">
    <div class="flex flex-row">
        <p class="statusText"></p>
        <button class="closingStatus btnHeader centerItems">
            <span>X</span>
        </button>
    </div>
    <div class="noMargin statusBarContainer flex">
        <div class="noMargin statusBar bgStatusBarInfo"></div>
    </div>
</div>

<div class="status bgStatusWarning">
    <div class="flex flex-row">
        <p class="statusText"></p>
        <button class="closingStatus btnHeader centerItems">
            <span>X</span>
        </button>
    </div>
    <div class="noMargin statusBarContainer flex">
        <div class="noMargin statusBar bgStatusBarWarning"></div>
    </div>
</div>

<script src="/javascript/sweetalert2.all.min.js"></script>
<script src="/javascript/showStatus.js"></script>
<script>
    <% if(info && info !== '') { %>
        showStatus("Info", "<%= info %>")
    <% } %>

    <% if(warning && warning !== '') { %>
        showStatus("Warning", "<%= warning %>")
    <% } %>

    <% if(alert && alert !== '') { %>
        showStatus("Alert", "<%= alert %>")
    <% } %>
</script>