<div class="status bgStatusInfo">
    <p class="statusText"></p>
    <div class="noMargin statusBarContainer">
        <div class="noMargin statusBar bgStatusBarInfo"></div>
    </div>
</div>

<div class="status bgStatusWarning">
    <p class="statusText"></p>
    <div class="noMargin statusBarContainer">
        <div class="noMargin statusBar bgStatusBarWarning"></div>
    </div>
</div>

<div class="status bgStatusAlert">
    <p class="statusText"></p>
    <div class="noMargin statusBarContainer">
        <div class="noMargin statusBar bgStatusBarAlert"></div>
    </div>
</div>

<script src="/javascript/showStatus.js"></script>
<script>
    <% if(info && info !== '') { %>
        showStatus("Info", "<%= info %>")
    <% } %>

    <% if(warning && warning !== '') { %>
        showStatus("Warning", "<%= warning %>")
    <% } %>

    <% if(alert && alert !== '') { %>
        showStatus("Alert", "<%= alert %>")
    <% } %>
</script>