<% if (title !== '') { %>
    <div id="titleBar" class="w-full bgNavTwo border-b-1 min-h-[60px] relative centerItems">
        <p class="text-xl font-semibold"><%= title %></p>
        <% if (userManualAdress !== '') { %>
            <a
                class="btnHeader right-10 border-white/30 bg-(--darkColorNavOne) hover:bg-(--darkColorNavOne)/50 centerItems"
                href="/uploads/manual/<%= userManualAdress %>.pdf"
                target="_blank"
            >
                <span>?</span>
            </a>
        <% } %>
    </div>
<% } %>
<script>
    const addBackButton = (address) => {
        const bar = document.getElementById('titleBar');
        bar.innerHTML += `
            <a
                class="btnHeader left-10 border-white/30 bg-(--darkColorNavOne) hover:bg-(--darkColorNavOne)/50 centerItems"
                href="${address}"
            >
                <span>⇦</span>
            </a>
        `;
    }
</script>