<% if (title !== '') { %>
    <div id="titleBar" class="w-full bgNavTwo border-b-1 min-h-[60px] relative centerItems">
        <p class="text-xl font-semibold"><%= title %></p>
        <% if (userManualAdress !== '') { %>
            <a
                class="btnHeader border-white/30 bg-(--darkColorNavOne) centerItems"
                href="/uploads/manual/<% userManualAdress %>"
                target="_blank"
            >
                <span>?</span>
            </a>
        <% } %>
    </div>
<% } %>