<section class="min-h-screen flex items-center justify-center p-6">
    <div class="w-full max-w-sm">

        <form
            class="bg-neutral-800 p-6 rounded-lg shadow-md"
            action="/login"
            method="POST"
        >

            <img 
              src="/Isotipo Nuclea claro.png" 
              alt="logo nuclea" 
              class="w-20 mx-auto mb-6"
            >

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <label for="email" class="block text-lg font-medium text-neutral-100">
                Email
            </label>
            <input
                class="w-full p-3 mt-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                type="text"
                placeholder="yourmail@nuclea.solutions"
                id="email"
                name="email"
                required
            />
            <br /><br />

            <label for="password" class="block text-lg font-medium text-neutral-100">
                Password
            </label>
            <input
                class="w-full p-3 mt-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                type="password"
                id="password"
                name="password"
                required
            />
            <br /><br />

            <input
                class="w-full btnPrimary !p-3 mb-4"
                type="submit"
                value="Enter"
            />

            <a
                href="/auth/google"
                class="btnPrimary !flex !p-3 items-center justify-center space-x-2 mb-4"
            >
                <img
                    src="/icons/google_logo.svg"
                    alt="Google Logo"
                    class="w-6 h-6"
                />
                <span>Enter with Google</span>
            </a>
        </form>
    </div>
</section>
