<div class="fullContainer bgContainer1">

    <!-- Barra de búsqueda, filtro y botón de registrar -->
    <div class="flex justify-center w-full mb-4">
        <div
            class="shadow-md rounded-lg p-4 flex items-center relative content w-full max-w-2xl"
        >
            <img
                src="/icons/search.svg"
                alt="search"
                class="navIcon absolute w-6 h-6 text-white"
            />
            <input
                id="search"
                name="search"
                type="text"
                placeholder="Search by name..."
                class="w-full pl-9 p-2 bg-neutral-700/50 text-white rounded-md outline-none"
            />
        </div>

        <div class="p-4 rounded-md">
            <a href="/fault/add" class="btnPrimary">Add new fault</a>
        </div>
    </div>

    <!-- Tabla -->
    <div
        id="faltasTable"
    ></div>

    <!-- Paginación -->
    <div class="flex justify-center gap-3 mt-6">
        <button id="prevBtn" class="btnPrimary">Previous</button>
        <button id="nextBtn" class="btnPrimary">Next</button>
    </div>
</div>

<script src="/javascript/paginedFaults.js"></script>
