<div class="container mx-auto py-8 flex justify-center">
    <div class="grid grid-cols-1 gap-6">
        <!-- Card 1 -->
        <div class="bg-neutral-700/25 rounded-lg shadow-lg overflow-hidden">
            <img
                src="/icons/rotationLogo.svg "
                alt="Logo"
                class="block mx-auto w-3/4 object-cover"
            />
            <div class="p-4">
                <h2 class="text-xl font-bold mb-2">Employee rotation</h2>
                <p class="text-neutral-100 mb-4">
                    Check how many employees enter or were fired.
                </p>
                <div class="flex justify-center">
                    <a
                        href="/reports/staffRotation"
                        class="btn bg-[#1B3F43] text-white px-6 py-2 rounded-md hover:bg-[#1B3F43]/80"
                        >Generate</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
