<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Lider consulta solicitudes de vacaciones de colaborador</h2>
            <p>En este apartado el lider de departamento podrá consultar las solicitudes de vacaciones que haya realizado un colaborador</p>
        </div>
    </div>
</div>