<div class="fullContainer bgContainer1">
    <h1 class="shadow-md rounded-lg p-3 text-3xl font-semibold mb-4">
        List of all Employees
    </h1>

    <div class="flex justify-center w-full">
        <div
            class="shadow-md rounded-lg p-4 flex items-center relative content w-full max-w-2xl"
        >
            <img
                src="/icons/search.svg"
                alt="search"
                class="navIcon absolute w-6 h-6 text-white"
            />
            <input
                id="search"
                name="search"
                type="text"
                placeholder="Search by name..."
                class="w-full pl-9 p-2 bg-neutral-700/50 text-white rounded-md outline-none"
            />
        </div>
        <div class="p-4 rounded-md">
            <select id="filterSelect" class="btnPrimary">
                <option value="all">All</option>
                <option value="active">Active</option>
                <option value="inactive">Terminated</option>
            </select>
            <span id="employeeCount" class="btnPrimary" disabled>
            </span>
        </div>
        <div class="p-4 rounded-md">
            <a href="/employee/add" class="btnPrimary justeify-right"
                >Add New Employee</a
            >
        </div>
    </div>
    <div
        id="employeeTable"
    ></div>
    <div class="flex justify-center gap-3 mt-6">
        <button id="prevPage" class="btnPrimary" disabled>
            Previous
        </button>
        <button id="nextPage" class="btnPrimary">Next</button>
    </div>
</div>
<script src="/javascript/paginedEmployee.js"></script>
