<div class="container mx-auto p-4">
    <div class="card bg-neutral-700/25 shadow-md rounded-lg p-4">
        <div class="card-content">
            <h1 class="shadow-md rounded-lg p-3 text-3xl font-semibold mb-4">
                List of all Employees
            </h1>
            <% if (info) { %>
            <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-4">
                <%= info %>
            </div>
            <% } %>
            <div class="flex justify-center w-full">
                <div
                    class="shadow-md rounded-lg p-4 flex items-center relative content w-full max-w-2xl"
                >
                    <img
                        src="/icons/search.svg"
                        alt="search"
                        class="navIcon absolute w-6 h-6 text-white"
                    />
                    <input
                        id="search"
                        name="search"
                        type="text"
                        placeholder="Buscar empleado..."
                        class="w-full pl-9 p-2 bg-neutral-700/50 text-white rounded-md outline-none"
                    />
                </div>
                <div class="p-4 rounded-md">
                    <select id="filterSelect" class="btnPrimary">
                        <option value="all">All</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
                <div class="p-4 rounded-md">
                    <a href="/employee/add" class="btnPrimary justeify-right"
                        >Add New Employee</a
                    >
                </div>
            </div>
            <div
                id="employeeTable"
                class="flex content justify-center p-4 rounded-md list space-y-4"
            ></div>
            <div class="flex justify-center gap-3 mt-6">
                <button id="prevPage" class="btnPrimary" disabled>
                    Anterior
                </button>
                <button id="nextPage" class="btnPrimary">Siguiente</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/paginedEmployee.js"></script>
