<div class="content p-4">
    <div class="card bg-neutral-700/25 shadow-md rounded-lg p-4">
        <div class="card-content">
            <h1 class="text-3xl font-semibold mb-4">List of all Employee</h1>
            <% if (info) { %>
            <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-4">
                <%= info %>
                <!-- Aquí se muestra el mensaje de éxito -->
            </div>
            <% } %>
            <div class="p-4 rounded-md">
                <a href="/employee/idle" class="btnPrimary"
                    >Show Idle Employee</a
                >
                <a href="/employee/add" class="btnPrimary float-right"
                    >Add New Employee</a
                >
            </div>
            <div
                class="shadow-md rounded-lg p-4 flex items-center relative content"
            >
                <img
                    src="/icons/search.svg"
                    alt="search"
                    class="navIcon absolute w-6 h-6 text-white"
                />
                <input
                    id="search"
                    name="search"
                    type="text"
                    placeholder="Buscar empleado..."
                    class="w-full pl-10 p-2 bg-neutral-700/50 text-white rounded-md outline-none w-full md:w-5/6 lg:w-3/4 xl:w-2/3"
                />
            </div>

            <div class="p-4 rounded-md list space-y-4">
                <div class="list-item bg-neutral-700/50 p-4 rounded-md">
                    <div class="list-item-content">
                        <div
                            class="list-item-title flex justify-between items-center"
                        >
                            <span>Empleado 1</span>
                            <div>
                                <a
                                    href="/employee/check"
                                    class="btnPrimary ml-2"
                                    >Check</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
