<div class="content p-4">
  <div class="card bg-white shadow-md rounded-lg p-6">
    <h1 class="text-3xl font-semibold mb-4">Mi perfil</h1>
    <p class="text-lg mb-6">
      En esta vista se podrá ver el propio perfil del administrador.
    </p>
  </div>
</div>
