<div class="content p-4">
    <div class="card bg-neutral-700/25 shadow-md rounded-lg p-6">
        <h1 class="text-3xl font-semibold mb-4">My Profile</h1>
        <p class="text-lg mb-6">
            here you can see your own profile
        </p>
    </div>
</div>
