<%- include('includes/_header') %> <%- include('includes/_navbar') %>
<div class="content">
  <div class="card">
    <div class="card-content">
      <h2>Ausencias</h2>
      <p>
        Aquí el colaborador podrá ver la razón de su falta y los días que va a
        faltar.
      </p>
      <div class="is-flex is-justify-content-center">
        <table class="table">
          <thead>
            <tr>
              <th><abbr title="razon">Razón</abbr></th>
              <th><abbr title="estado">Días</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <a href="/absence/check"
                  >Me enferme de covid y el doctor me dió 3 días de reposo</a
                >
              </th>
              <td>4</td>
            </tr>
            <tr>
              <th>
                <a href="absence/check"
                  >Va a ser el cumpleaños de mi madre y cumple 90 años.</a
                >
              </th>
              <td>2</td>
            </tr>
            <tr>
              <th>
                <a href="absence/check"
                  >Problemas de transporte, se descompuso el autobus.</a
                >
              </th>
              <td>1</td>
            </tr>
            <tr>
              <th><a href="absence/check">Emergencia con tu mascota.</a></th>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="is-flex is-justify-content-center">
      <a class="button mr-2" href="/absence/aprove">request</a>
      <a class="button" href="/absence/add">add</a>
    </div>
    <%- include('includes/_footer') %>
  </div>
</div>
