<%- include('includes/_header') %>

<div class="flex">
    <div class="content p-6">
        <h1 class="text-3xl font-semibold mb-4">Nombre del colaborador</h1>
        <p class="text-lg text-neutral-100">
            Descripción de la ausencia: Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Voluptate natus quibusdam accusamus aperiam? Quis
            vitae, quo asperiores aliquid laborum sequi tenetur ipsa eos sint
            officia in exercitationem cumque quos doloribus!
        </p>

        <div class="mt-6">
            <a
                href="/absence"
                class="btnPrimary"
            >
                Regresar
            </a>
        </div>
    </div>
</div>

<%- include('includes/_footer') %>
