<%- include('includes/_header') %> 
<%- include('includes/_navbar') %>
<h2 class="title">Escribe los datos sobre tu Ausencia</h2>

<form action="/absence/add" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

  <div>
    <label>Fecha de inicio de la ausencia: </label>
    <input type="date" name="startDate" required>
    <label>Fecha de finalización de la ausencia: </label>
    <input type="date" name="endDate" required>
  </div>

  <div>
    <label>Motivo de la ausencia: </label>
    <textarea type="text" name="reason" required placeholder="Me enfermé y tuve que acudir al médico"> </textarea>
  </div>
  
  <div>
    <label class="">
      <input type="file" name="evidence"/>
    </label>
  </div>

  <div>
    <input type="submit" value="Enviar">
  </div>
</form>

<%- include('includes/_footer') %>
