<%- include('includes/_header') %>
<div class="flex">
    <div class="content p-4">
        <h1 class="text-3xl font-semibold mb-4">Nombre del colaborador</h1>
        <p class="text-lg mb-6">
            Descripción de la falta: Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Voluptate natus quibusdam accusamus aperiam? Quis
            vitae, quo asperiores aliquid laborum sequi tenetur ipsa eos sint
            officia in exercitationem cumque quos doloribus!
        </p>
        <a
            href="/fault"
            class="inline-block bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-300"
            >Regresar</a
        >
    </div>
</div>

<%- include('includes/_footer') %>
