<%- include('includes/_header') %>
<%- include('includes/_navbar') %>
<div class="content">
    <div class="card">
        <div class="card-content">
            <h1>Pagina de inicio para el superadmin, lider de departamento y colaborador</h1>
            <p>Aquí se espera añadir botones que redirijan a las funcionalidades que puede hacer cada actor</p>
        </div>
    </div>
</div>
<%- include('includes/_footer') %>