<%- include('includes/_header') %> <%- include('includes/_navbar') %>
<div class="p-6">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <h1 class="text-3xl font-semibold mb-4">
        Página de inicio para el superadmin, líder de departamento y colaborador
      </h1>
      <p class="text-lg">
        Aquí se espera añadir botones que redirijan a las funcionalidades que
        puede hacer cada actor
      </p>
    </div>
  </div>
</div>
<%- include('includes/_footer') %>
