<%- include('includes/_header.ejs') %>
<%- include('includes/_navbar.ejs') %>

<div class="content">
    <div class="card">
        <div class="card-content">
            <h1>¿Estas perdido?</h1>
            <p>
                El recurso no se ha encontrado :(
            </p>
        </div>
    </div>
</div>

<%- include('includes/_footer.ejs') %>