@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Book.otf") format("opentype");
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-BookItalic.otf") format("opentype");
    font-weight: 400; /* Normal weight */
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Medium.otf") format("opentype");
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-MediumItalic.otf") format("opentype");
    font-weight: 500; /* Medium weight */
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Bold.otf") format("opentype");
    font-weight: 600; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Black.otf") format("opentype");
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

body {
    font-family: "Gotham", sans-serif;
}

@keyframes collapseText {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
