<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Empleado consulta su calendario</h2>
            <p>En esta ruta, el empleado podrá ver su calendario, junto con sus eventos en los próximos días (one on one, días feriados, vacaciones). Lo podrá ver de forma semanal o mensual.</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="box">
            <div class="card-content">
                <h3>Vacaciones</h3>
                <p>Ver tus solicitudes de vacaciones</p>
                    <a href="/vacation" class="button">Vacaciones</a>
                    <a href="/vacation/add" class="button">Agregar</a>
            </div>
        </div>
        <div class="box">
            <div class="card-content">
                <h3>Ausencias</h3>
                <p>Ver tus ausencias</p>
                    <a href="/absence" class="button">Ausencias</a>
                    <a href="/absence/add" class="button">Agregar</a>
            </div>
        </div>
        <div class="box">
            <div class="card-content">
                <h3>One on One</h3>
                <p>Ver tus sesiones de One on One</p>
                    <a href="/oneToOne" class="button">One to One</a>
            </div>
        </div>
    </div>
</div>