<div class="p-6">
  <div class="bg-white shadow-md rounded-lg mb-6">
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-4">
        Empleado consulta su calendario
      </h2>
      <p class="text-lg">
        En esta ruta, el empleado podrá ver su calendario, junto con sus eventos
        en los próximos días (one on one, días feriados, vacaciones). Lo podrá
        ver de forma semanal o mensual.
      </p>
    </div>
  </div>
</div>

<div class="p-6">
  <div class="space-y-6">
    <!-- Vacaciones -->
    <div class="bg-white shadow-md rounded-lg p-6">
      <div class="mb-4">
        <h3 class="text-xl font-semibold">Vacaciones</h3>
        <p class="text-lg">Ver tus solicitudes de vacaciones</p>
      </div>
      <div class="flex space-x-4">
        <a
          href="/vacation"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >Vacaciones</a
        >
        <a
          href="/vacation/add"
          class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
          >Agregar</a
        >
      </div>
    </div>

    <!-- Ausencias -->
    <div class="bg-white shadow-md rounded-lg p-6">
      <div class="mb-4">
        <h3 class="text-xl font-semibold">Ausencias</h3>
        <p class="text-lg">Ver tus ausencias</p>
      </div>
      <div class="flex space-x-4">
        <a
          href="/absence"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >Ausencias</a
        >
        <a
          href="/absence/add"
          class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
          >Agregar</a
        >
      </div>
    </div>

    <!-- One on One -->
    <div class="bg-white shadow-md rounded-lg p-6">
      <div class="mb-4">
        <h3 class="text-xl font-semibold">One on One</h3>
        <p class="text-lg">Ver tus sesiones de One on One</p>
      </div>
      <div class="flex space-x-4">
        <a
          href="/oneToOne"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >One to One</a
        >
      </div>
    </div>

    <!-- Lista de días festivos -->
    <div class="bg-white shadow-md rounded-lg p-6">
      <div class="mb-4">
        <h3 class="text-xl font-semibold">Lista de días festivos</h3>
        <p class="text-lg">Ver todos los días festivos del año</p>
      </div>
      <div class="flex space-x-4">
        <a
          href="/holiday/used"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >Holiday</a
        >
      </div>
    </div>
  </div>
</div>
