<%- include('includes/_header') %> <%- include('includes/_navbar') %>
<h1 class="title">Escribe los datos sobre tu Ausencia</h1>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <h4>Razón de la ausencia</h4>
    <input
      class="input"
      type="text"
      placeholder="razón"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <h4>Fecha de Inicio de Ausencia</h4>
    <input class="input" type="text" placeholder="yyyy-mm-dd" />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <h4>Fecha de Regreso</h4>
    <input class="input" type="text" placeholder="yyyy-mm-dd" />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="file">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label"> Choose a file… </span>
      </span>
    </label>
  </div>
<div class="field">
  <p class="control">
    <button class="button is-success">Summit</button>
    <a href="/absence" class="button">Regresar</a>
  </p>
  
</div>

<%- include('includes/_footer') %>
