<%- include('includes/_header') %> <%- include('includes/_navbar') %>
<h1 class="title">Escribe los datos del colaborador y una Descripción</h1>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input
      class="input"
      type="nombre_colaborador"
      placeholder="nombre colaborador"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="razon" placeholder="razon de la falta" />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="id" placeholder="id del colaborador" />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">Summit</button>
  </p>
</div>
<%- include('includes/_footer') %>
