<%- include('includes/_header') %>
<%- include('includes/_navbar') %>
<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>SuperAdmin consulta departamentos</h2>
            <p>En esta ruta el superadmin puede dar de alta nuevos departamentos así como que le aparecen una lista con los departamentos existentes, a partir de allí podrá consultarlos.</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <a class="button" href="/home/addDepartments/checkProfile">Recursos humanos</a>
        <p>Modificar Eliminar</p>
        <a class="button" href="/home/addDepartments/checkProfile">Ingenieria</a>
        <p>Modificar Eliminar</p>
        <a class="button" href="/home/addDepartments/checkProfile">Contabilidad</a>
        <p>Modificar Eliminar</p>
        <div class="card-content">
            <p>Esperamos a tener un mayor avance en el proyecto para hacer lo que vimos en el laboratorio 17, donde al darle click a un departamento, sin necesidad de crear una ruta nueva pueda ver los detalles de ese departamento.</p>
        </div>
    </div>
</div>
<%- include('includes/_footer') %>