<%- include('includes/_header') %>
<%- include('includes/_navbar') %>
<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Lider de departamento y superadmin consultan perfil de colaborador</h2>
            <p>En este apartado se espera que aparezca el perfil del colaborador al cual tanto el lider de departamento como superadmin tendrán acceso esto para poder evaluar el kpi de sus colaboradores</p>
        </div>
    </div>
</div>
<%- include('includes/lider/_checkprofile.ejs') %>
<%- include('includes/_footer') %>