<%- include('includes/_header') %>
<%- include('includes/_navbar') %>
<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Lider consulta ausencias de colaborador</h2>
            <p>En este apartado el lider de departamento podrá consultar las ausencias de sus colaboradores que haya tendio, así como un motivo y la fecha de inicio y fin de la ausencia.</p>
        </div>
    </div>
</div>
<%- include('includes/_footer') %>