<%- include('includes/_header.ejs') %>
<%- include('includes/_navbar.ejs') %>

<div class="content">
    <div class="card">
        <div class="card-content">
            <h1>Modificar empleado</h1>
            <p>
                En esta vista, tanto el super usuario como el líder podrán hacer
                modificaciones a un usuario en específico previamente seleccionado
                en la vista anterior.
            </p>
        </div>
    </div>
</div>

<%- include('includes/_footer.ejs') %>