<%- include('includes/_header') %>
<%- include('includes/_navbar') %>

<div class="content">
    <h1 class="title">Pestaña para que Super Admin o Lider pueda consultar a sus empleados</h1>
    <p>Aquí deberá de aparecer una lista completa con todos los empleados a la dispocición de cada departamento/empresa</p>
</div>

<%- include('includes/_footer') %>