<%- include('includes/_header.ejs') %>
<%- include('includes/_navbar.ejs') %>

<div class="content">
    <div class="card">
        <div class="card-content">
            <h1>Revisar empleado</h1>
            <p>
                En esta vista, tanto el super usuario como el líder podrán revisar el prefil
                específico de algún empleado
                <a href="/employee/check/modify" class="button is-pulled-right">Modificar</a>
            </p>
        </div>
    </div>
</div>

<%- include('includes/_footer.ejs') %>