<%- include('includes/_header.ejs') %>
<%- include('includes/_navbar.ejs') %>

<div class="content">
    <div class="card">
        <h1>Mi prefil</h1>
        <p>
            En esta vista se podrá ver el propio perfil del administrador
        </p>
    </div>
</div>

<%- include('includes/_footer.ejs') %>