<%- include('includes/_header') %>
<%- include('includes/_navbar') %>
<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>SuperAdmin Registra falta administrativa</h2>
            <p>En esta ruta aparecerá un formulario con los campos necesarios para registrar una falta administrativa que haya cometido un colaborador, así como brindarle la posibilidad de ver a aquellos que ya tengan una falta administrativa con el fin de modificarla o eliminarla</p>
        </div>
        <a class="button" href="">Colaborador: José de Jesus Rodriguez</a>
        <p>Modificar Eliminar</p>
    </div>
</div>
<%- include('includes/_footer') %>