<%- include('includes/_header') %> 
<%- include('includes/_navbar') %>
<div class="content">
    <h1 class="title">Pestaña de inicio para colaborador, lider y recursos humanos</h1>
</div>
<%- include('includes/_footer') %>