<%- include('includes/_header') %> 
<%- include('includes/_navbar') %>
<div class="content">
    <h1 class="title">Pestaña de inicio para colaborador, lider y recursos humanos</h1>
    <p>En esta aparecerá una imagen relacionada a nuclea y también una lista con las diferentes acciones que puede desempeñar en función de su rol.</p>
</div>
<%- include('includes/_footer') %>