<%- include('includes/_header') %>
<%- include('includes/_navbar') %>

<div class="content">
    <h1 class="title">Pestaña de SuperAdmin para One-On-One</h1>
    <p>Aquí el Super Admin podrá administrar los One-On-One. Porá eliminar, modificar o registar nuevos One-On-One.</p>
    <a href="/oneOnOne/delete">eliminar</a>
    <a href="/oneOnOne/modify">modificar</a>
    <a href="/oneOnOne/register">registrar</a>
</div>

<%- include('includes/_footer') %>