<div class="p-6">
  <div class="bg-white shadow-md rounded-lg mb-6">
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-4">
        Lista de los días feriados del año
      </h2>
      <p class="text-lg">
        En esta ruta, se podrán ver los días feriados que se usarán en el año,
        junto con los días feriados que se tendrán de plantilla.
      </p>
    </div>
  </div>
</div>

<div class="p-6">
  <div class="bg-white shadow-md rounded-lg mb-6">
    <div class="p-6">
      <div class="bg-gray-50 p-6 rounded-lg mb-4">
        <h3 class="text-xl font-semibold mb-4">Añadir</h3>
        <p class="text-lg mb-4">Añadir día feriado</p>
        <a
          href="/holiday/add"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600"
          >Agregar</a
        >
      </div>
      <div class="bg-gray-50 p-6 rounded-lg mb-4">
        <h3 class="text-xl font-semibold mb-4">Día específico</h3>
        <p class="text-lg mb-4">Entrar a un día en específico</p>
        <a
          href="/holiday/check"
          class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 mr-4"
          >Consultar</a
        >
        <a
          href="/holiday/check/modify"
          class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600"
          >Modificar</a
        >
      </div>
    </div>
  </div>
</div>
