<div class="flex">
    <aside class="w-64"></aside>

    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-md rounded-lg p-6">
            <!-- Nuevo contenido movido dentro -->
            <div class="bg-neutral-800/50 p-6 rounded-lg mb-4">

                <h3 class="text-xl font-semibold mb-4">Holidays</h3>
                <p class="text-lg mb-4">Add Holiday</p>
                <a
                    href="/holiday/add"
                    class="btnPrimary"
                >
                    Add
                </a>
            </div>

            <!-- Acciones -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Día específico -->
                <div class="bg-neutral-800/50 p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-4">Add an specific holiday</h3>
                    <p class="text-lg mb-4">Check an specific holiday</p>
                    <a
                        href="/holiday/check"
                        class="btnPrimary m-2"
                    >
                        Check
                    </a>
                    <a
                        href="/holiday/check/modify"
                        class="btnPrimary"
                    >
                        Modify
                    </a>
                </div>

                <div class="bg-neutral-800/50 p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-4">
                        Check all holidays
                    </h3>
                    <p class="text-lg mb-4">
                        Shows a list of the holidays
                    </p>
                    <a
                        href="/holiday/used"
                        class="btnPrimary"
                    >
                        Check
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
