<div class="flex">
    <aside class="w-64"></aside>
    <div class="p-6">
        <div class="bg-neutral-800 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">Día feriados</h2>
                <p class="text-lg">
                    En esta ruta, se podrán ver los datos de un día feriado en
                    específico
                </p>
            </div>
        </div>
    </div>

    <div class="p-6">
        <div class="bg-neutral-800 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <div class="bg-neutral-800/50 p-6 rounded-lg mb-4">
                    <h3 class="text-xl font-semibold mb-4">Modificar</h3>
                    <p class="text-lg mb-4">Permite modificar el día feriado</p>
                    <a
                        href="/holiday/check/modify"
                        class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600"
                        >Modificar</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
