<div class="flex">
    <aside class="w-64"></aside>
    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">Holidays</h2>
                <p class="text-lg">
                    Here you will be able to modify a holiday and set it whenever you want
                </p>
            </div>
        </div>
    </div>

    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <div class="bg-neutral-800/50 p-6 rounded-lg mb-4">
                    <h3 class="text-xl font-semibold mb-4">Specific Holiday</h3>
                    <p class="text-lg mb-4">Check a specific holiday</p>
                    <a
                        href="/holiday/check"
                        class="btnPrimary"
                        >Check</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
