<div class="flex">
    <aside class="w-64"></aside>
    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">Holidays</h2>
                <p class="text-lg">
                    Here you will be able to modify a holiday and set it
                    whenever you want
                </p>
            </div>
        </div>
    </div>
</div>
