<div class="flex">
    <aside class="w-64"></aside>
    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">Día feriados</h2>
                <p class="text-lg">
                    En esta ruta, se podrá modificar un día feriado
                </p>
            </div>
        </div>
    </div>

    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <div class="bg-neutral-800/50 p-6 rounded-lg mb-4">
                    <h3 class="text-xl font-semibold mb-4">Día específico</h3>
                    <p class="text-lg mb-4">Entrar a un día en específico</p>
                    <a
                        href="/holiday/check"
                        class="btn bg-[#1B3F43] text-white px-6 py-2 rounded-md hover:bg-[#1B3F43]/80"
                        >Consultar</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
