<div class="primaryContainer bgContainer1">
    <div class="center !w-full">
        <h1 class="text-3xl font-bold mb-6">Holidays</h1>
        
        <% if (role === 'Human Resources') { %>
        <div class="flex justify-end mb-4">
            <a href="/holiday/add" class="btnPrimary">
              Add
            </a>
          </div>
          <% } %>
        <div
            id="holidaysTable"
            class="overflow-x-auto bg-white rounded-lg shadow"
        ></div>

        <div class="mt-6 flex justify-between">
            <button
                id="prevBtn"
                class="btnPrimary"
            >
                Previous
            </button>
            <button
                id="nextBtn"
                class="btnPrimary ml-2"
            >
                Next
            </button>
        </div>
    </div>
</div>
<script src="/javascript/paginedHoliday.js"></script>