<div class="flex">
  <aside class="w-64"></aside>
  <div class="container mx-auto p-4">
    <!-- Mostrar mensaje si existe -->
    <% if (info) { %>
    <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-4">
      <%= info %>
    </div>
    <% } %>

    <h1 class="text-3xl font-semibold mb-6">Días Feriados</h1>

    <table class="min-w-full table-auto border-collapse border border-neutral-600/50">
      <thead>
        <tr class="bg-neutral-700/50">
          <th class="px-4 py-2 text-left">Día Feriado</th>
          <th class="px-4 py-2 text-left">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <% holidays.forEach(holiday => { %>
        <tr class="border-t">
          <td class="px-4 py-2"><%= holiday.title %></td>
          <td class="px-4 py-2">
            <%= new Date(holiday.usedDate).toLocaleDateString('es-MX') %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="mt-6">
      <a
        href="/holiday"
        class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600"
        >Regresar al inicio</a
      >
    </div>
  </div>
</div>
