<div class="fullContainer bgContainer1">
    <div class="center !w-full">        
        <% if (role === 'Human Resources') { %>
        <div class="flex justify-end mb-4">
            <a href="/holiday/add" class="btnPrimary">
              Add
            </a>
          </div>
          <% } %>
        <div
            id="holidaysTable"
        ></div>

        <div class="mt-6 flex justify-center gap-3">
            <button
                id="prevBtn"
                class="btnPrimary"
            >
                Previous
            </button>
            <button
                id="nextBtn"
                class="btnPrimary ml-2"
            >
                Next
            </button>
        </div>
    </div>
</div>
<script src="/javascript/paginedHoliday.js"></script>