<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-6 text-center">
        Escribe los datos sobre tu Ausencia
    </h2>
    <% if (info != '') { %>
    <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-6 text-center">
        <%= info %>
    </div>
    <% } %>

    <div class="flex justify-center">
        <form
            action="/absence/add"
            method="POST"
            enctype="multipart/form-data"
            class="w-full max-w-lg bg-neutral-800 p-6 rounded-lg shadow"
        >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Fecha de inicio de la ausencia:
                </label>
                <input
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg"
                    type="date"
                    name="startDate"
                    required
                />
            </div>

            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Fecha de finalización de la ausencia:
                </label>
                <input
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg"
                    type="date"
                    name="endDate"
                    required
                />
            </div>

            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Motivo de la ausencia:
                </label>
                <textarea
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg resize-none overflow-hidden"
                    name="reason"
                    required
                    placeholder="Me enfermé y tuve que acudir al médico"
                    oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"
                ></textarea>
            </div>

            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Evidencia (opcional):
                </label>
                <input
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg"
                    type="file"
                    name="evidence"
                    accept=".jpg, .png, .docx, .jpeg, .pdf"
                />
            </div>

            <div class="mb-0 flex justify-evenly">
                <input
                    class="w-full md:w-1/3 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-lg cursor-pointer transition duration-200"
                    type="submit"
                    value="Enviar"
                />
                <a
                    class="w-full md:w-1/3 bg-neutral-500 hover:bg-neutral-600 text-white font-semibold py-2 rounded-lg cursor-pointer transition duration-200 text-center"
                    href="/absence"
                >
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
