<script>addBackButton('/absence');</script>
<div class="primaryContainer bgContainer1">
    
    <div class="titleContainer">
        <h2 class="title text-center flex-1">Add absence</h2>
    </div>

    <div class="flex justify-center">
        <form
            action="/absence/add"
            method="POST"
            enctype="multipart/form-data"
            class="w-full"
        >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div>
                <label class="label">
                    Start Date of the absence:
                </label>
                <input
                    id="startInput"
                    class="input"
                    type="date"
                    name="startDate"
                    required
                />
            </div>

            <div>
                <label class="label">
                    End Date of the absence:
                </label>
                <input
                    id="endInput"
                    class="input"
                    type="date"
                    name="endDate"
                    required
                />
            </div>

            <div>
                <label class="label">
                    Reason of the absence:
                </label>
                <textarea
                    id="reason"
                    class="input resize-none overflow-hidden"
                    name="reason"
                    placeholder="I got ill and had to go to see the doctor"
                    oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"
                ></textarea>
            </div>

            <div>
                <label class="label">
                    Evidence (optional):
                </label>
                <input
                    id="evidenceInput"
                    class="input"
                    type="file"
                    name="evidence"
                    accept=".jpg, .png, .docx, .jpeg, .pdf"
                />
            </div>

            <div class="endButtonsContainer">
                <button class="btnPrimary">Add absence</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const startDateInput = document.getElementById("startInput");
        const endDateInput = document.getElementById("endInput");
        const reasonInput = document.getElementById("reason");
        const date = new Date();

        const now = new Date(
            date.getFullYear(),
            date.getMonth(),
            date.getDate()
        );

        const today = now.toISOString().split("T")[0];
        // console.log(today);
        startDateInput.min = today;
        endDateInput.min = today;

        const nextYear = new Date();
        nextYear.setFullYear(nextYear.getFullYear() + 1);
        const nextYearStr = nextYear.toISOString().split("T")[0];
        startDateInput.max = nextYearStr;
        endDateInput.max = nextYearStr;

        // Función para calcular la cantidad de días de ausencia
        function calculateDays() {
            if (startDateInput.value && endDateInput.value) {
                const start = new Date(startDateInput.value);
                const end = new Date(endDateInput.value);

                const diff = end - start;
                const totalDays = 1 + diff / (1000 * 60 * 60 * 24);
                // console.log(totalDays);
                if (totalDays < 3) {
                    reasonInput.required = false;
                }
                if (totalDays >= 3) {
                    reasonInput.required = true;
                }
            }
        }
        startDateInput.addEventListener("change", () => {
            endDateInput.min = startDateInput.value;
            calculateDays();
        });
        endDateInput.addEventListener("change", calculateDays);

        const evidenceInput = document.getElementById("evidenceInput");

        evidenceInput.addEventListener("change", function () {
            const file = this.files[0]; // Obtiene el archivo seleccionado
            const maxSize = 10 * 1024 * 1024; // 10MB en bytes

            if (file) {
                if (file.size > maxSize) {
                    alert(
                        `The file is too heavy, the maximum allowed is 10mb.`
                    );
                    this.value = ""; // Borra el archivo seleccionado
                }
            }
        });
    });
</script>
