<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-6 text-center">
        Escribe los datos sobre tu Ausencia
    </h2>
    <% if (info != '') { %>
    <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-6 text-center">
        <%= info %>
    </div>
    <% } %>

    <div class="flex justify-center">
        <form
            action="/absence/add"
            method="POST"
            enctype="multipart/form-data"
            class="w-full max-w-lg bg-neutral-700/25 p-6 rounded-lg shadow"
        >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Fecha de inicio de la ausencia:
                </label>
                <input
                    id="startInput"
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg"
                    type="date"
                    name="startDate"
                    required
                />
            </div>

            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Fecha de finalización de la ausencia:
                </label>
                <input
                    id="endInput"
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg"
                    type="date"
                    name="endDate"
                    required
                />
            </div>

            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Motivo de la ausencia:
                </label>
                <textarea
                    id="reason"
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg resize-none overflow-hidden"
                    name="reason"
                    placeholder="Me enfermé y tuve que acudir al médico"
                    oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"
                ></textarea>
            </div>

            <div class="mb-6">
                <label class="block text-neutral-100 font-semibold mb-2">
                    Evidencia (opcional):
                </label>
                <input
                    id="evidenceInput"
                    class="w-full md:w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-lg"
                    type="file"
                    name="evidence"
                    accept=".jpg, .png, .docx, .jpeg, .pdf"
                />
            </div>

            <div class="mb-0 flex justify-evenly">
                <input
                    class="btnPrimary"
                    type="submit"
                    value="Enviar"
                />
                <a
                    class="btnPrimary"
                    href="/absence"
                >
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const startDateInput = document.getElementById("startInput");
        const endDateInput = document.getElementById("endInput");
        const reasonInput = document.getElementById("reason");
        const date = new Date();

        const now = new Date(
            date.getFullYear(),
            date.getMonth(),
            date.getDate()
        );

        const today = now.toISOString().split("T")[0];
        console.log(today);
        startDateInput.min = today;
        endDateInput.min = today;

        const nextYear = new Date();
        nextYear.setFullYear(nextYear.getFullYear() + 1);
        const nextYearStr = nextYear.toISOString().split("T")[0];
        startDateInput.max = nextYearStr;
        endDateInput.max = nextYearStr;

        // Función para calcular la cantidad de días de ausencia
        function calculateDays() {
            if (startDateInput.value && endDateInput.value) {
                const start = new Date(startDateInput.value);
                const end = new Date(endDateInput.value);

                const diff = end - start;
                const totalDays = 1 + diff / (1000 * 60 * 60 * 24);
                console.log(totalDays);
                if (totalDays < 3) {
                    reasonInput.required = false;
                }
                if (totalDays >= 3) {
                    reasonInput.required = true;
                }
            }
        }
        startDateInput.addEventListener("change", () => {
            endDateInput.min = startDateInput.value;
            calculateDays();
        });
        endDateInput.addEventListener("change", calculateDays);

        const evidenceInput = document.getElementById("evidenceInput");

        evidenceInput.addEventListener("change", function () {
            const file = this.files[0]; // Obtiene el archivo seleccionado
            const maxSize = 10 * 1024 * 1024; // 10MB en bytes

            if (file) {
                if (file.size > maxSize) {
                    alert(
                        `El archivo es demasiado grande. El tamaño máximo permitido es 10 MB.`
                    );
                    this.value = ""; // Borra el archivo seleccionado
                }
            }
        });
    });
</script>
