<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Lista de los One To One.</h2>
            <p>En esta ruta, el usuario podrá ver los One To One de los que forma parte.</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="box">
            <div class="card-content">
                <h3>Agendar</h3>
                <p>Se agenda una sesión One To One</p>
                    <a href="/oneToOne/schedule" class="button">Agendar</a>
            </div>
        </div>
        <div class="box">
            <div class="card-content">
                <h3>Sesión</h3>
                <p>Consultar sesión de One To One</p>
                    <a href="/oneToOne/check" class="button">Consultar</a>
            </div>
        </div>
        <div class="box">
            <div class="card-content">
                <h3>Rellenar</h3>
                <p>Se rellenan las preguntas de la sesión del one to one</p>
                    <a href="/oneToOne/check/fill" class="button">Rellenar</a>
            </div>
        </div>
        <div class="box">
            <div class="card-content">
                <h3>Gráficas</h3>
                <p>Se pueden filtrar y seleccionar datos para generar gráficas.</p>
                    <a href="/oneToOne/graphs" class="button">Gráficas</a>
            </div>
        </div>
    </div>
</div>