<div class="flex">
    <div class="p-6 w-full">
        <!-- Contenido principal -->
        <div class="bg-neutral-700/25 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">One To One</h2>
            </div>
        </div>

        <!-- Recuadros / Tarjetas -->
        <% if (role === 'Human Resources') { %>
        <div class="bg-neutral-700/25 shadow-md rounded-lg p-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <div class="bg-neutral-800/50 p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-4">Schedule</h3>
                    <p class="text-lg mb-4">Schedule a one to one meeting with an employee</p>
                    <a href="/oneToOne/schedule" class="btnPrimary">Schedule</a>
                </div>
                <% } %>
                <div class="bg-neutral-700/20 p-6 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold mb-4">One to one meetings</h3>
                    <p class="text-lg mb-4">Check all one to one sessions</p>
                    <a href="/oneToOne/check" class="btnPrimary">Check</a>
                </div>
            </div>
        </div>
    </div>
</div>
