<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Datos de sesión One to One</h2>
            <p>En esta ruta, el usuario podrá consultar los datos de una sesión One to One.</p>
        </div>
    </div>
</div>