<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Llenado de datos de sesión One to One</h2>
            <p>En esta ruta, el usuario podrá rellenar los datos de una sesión One to One.</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="box">
            <div class="card-content">
                <h3>Sesión</h3>
                <p>Consultar sesión de One To One</p>
                    <a href="/oneToOne/check" class="button">Consultar</a>
            </div>
        </div>
    </div>
</div>