<div class="content">
    <div class="card">
        <div class="card-content">
            <h2>Gráficas de One on One</h2>
            <p>En esta ruta, el usuario podrá generar gráficas seleccionando y filtrando datos de las sesiones One on One.</p>
        </div>
    </div>
</div>