<div class="fullContainer bgContainer1">

    <div class="titleContainer">
        <h2 class="title <%= role !== 'Manager' ? 'text-center flex-1' : '' %>">List of upcoming One To One sessions</h2>
        <% if (role === 'Manager') { %>
            <div class="flex gap-1 centerItems">
                <div class="flex justify-end mb-4">
                    <a href="oneToOne/Schedule" class="btnPrimary">Schedule future session</a>
                </div>
            </div>
        <% } %>
    </div>

    <% if (role == "Manager") { %>
    <div class="flex justify-center w-full">
        <div
            class="shadow-md rounded-lg p-4 flex items-center relative content w-full max-w-2xl"
        >
            <img
                src="/icons/search.svg"
                alt="search"
                class="navIcon absolute w-6 h-6 text-white"
            />

            <input
                id="search"
                name="search"
                type="text"
                placeholder="Search by name..."
                class="w-full pl-9 p-2 bg-neutral-700/50 text-white rounded-md outline-none"
            />
        </div>
    </div>
    <% } else {} %>

    <div id="table"></div>
    <div class="flex justify-center gap-3 mt-6">
        <button id="prevPage" class="btnPrimary">Previous</button>
        <button id="nextPage" class="btnPrimary">Next</button>
    </div>
</div>

<script>
    let currentPage = 1;
    let currentQuery = "";

    const role = <%- JSON.stringify(role) %>;

    //Función para todas las sesones de recursos humanos
    async function loadAllSessions(page, query = "") {
        const url = `/oneToOne/check/all?page=${page}&query=${encodeURIComponent(
            query
        )}`;

        const response = await fetch(url);
        const data = await response.json();
        const sessions = data.rows || [];

        let table = `<table class="tContainer">
        <thead class="tHead">
            <tr>
                <th class="hRow">Full Name</th>
                <th class="hRow">Email</th>
                <th class="hRow">Role</th>
                <th class="hRow">Meeting Date</th>
                <th class="hRow">Meeting Time</th>
                <th class="hRow">View One</th>
            </tr>
        </thead>
        <tbody class="tBody">`;

        if (sessions.length === 0) {
            table += `<tr><td colspan="6" class="dataless">There´s no One To One sessions</td></tr>`;
        } else {
            sessions.forEach((s) => {
                const d = new Date(s.meetingDate);
                const date = d.toISOString().split("T")[0];
                const [hh, mm] = d.toISOString().split("T")[1].split(":");
                const time = `${hh}:${mm}`;

                table += `<tr class="tRow">
                <td class="tContent">${s.birthName} ${s.surname}
                </td>
                <td class="tContent">${s.mail}
                </td>
                <td class="tContent">${s.title || "N/A"}
                </td>
                <td class="tContent">${date}</td>
                <td class="tContent">${time}</td>
                <td class="tContent">
                    <a href="/oneToOne/${
                        s.oneOnOneID
                    }" class="btnPrimary ml-2">View</a>
                </td>
            </tr>`;
            });

            document
                .getElementById("table")
                .scrollIntoView({ behavior: "smooth" });
        }

        table += `</tbody></table>`;
        document.getElementById("table").innerHTML = table;

        document.getElementById("prevPage").disabled = page === 1;
        document.getElementById("nextPage").disabled = sessions.length < 1;
    }

    //Función para las sesiones personales de colaborador y lider
    async function loadOwnSessions(page, query = "") {
        const url = `/oneToOne/check/own?page=${page}&query=${encodeURIComponent(
            query
        )}`;

        const response = await fetch(url);
        const data = await response.json();
        const sessions = data.rows || [];

        let table = `<table class="tContainer">
        <thead class="bg-neutral-800/50">
            <tr>
                <th class="hRow">Full Name</th>
                <th class="hRow">Email</th>
                <th class="hRow">Role</th>
                <th class="hRow">Meeting Date</th>
                <th class="hRow">Meeting Time</th>
                <th class="hRow">View One</th>
            </tr>
        </thead>
        <tbody class="tBody">`;

        if (sessions.length === 0) {
            table += `<tr><td colspan="6" class="dataless">There´s no One To One meetings</td></tr>`;
        } else {
            sessions.forEach((s) => {
                const d = new Date(s.meetingDate);
                const date = d.toISOString().split("T")[0];
                const [hh, mm] = d.toISOString().split("T")[1].split(":");
                const time = `${hh}:${mm}`;

                table += `<tr class="tRow">
                <td class="tContent">${s.birthName} ${s.surname}
                </td>
                <td class="tContent">${s.mail}
                </td>
                <td class="tContent">${s.title || "N/A"}
                </td>
                <td class="tContent">${date}</td>
                <td class="tContent">${time}</td>
                <td class="tContent">
                    <a href="/oneToOne/${
                        s.oneOnOneID
                    }" class="btnPrimary ml-2">View</a>
                </td>
            </tr>`;
            });

            document
                .getElementById("table")
                .scrollIntoView({ behavior: "smooth" });
        }

        table += `</tbody></table>`;
        document.getElementById("table").innerHTML = table;

        document.getElementById("prevPage").disabled = page === 1;
        document.getElementById("nextPage").disabled = sessions.length < 1;
    }

    document.addEventListener("DOMContentLoaded", () => {
        if(role === "Manager"){
            loadAllSessions(currentPage, currentQuery);
        } else {
            loadOwnSessions(currentPage, currentQuery);
        }
    });

    document.getElementById("prevPage").addEventListener("click", () => {
        if (currentPage > 1) {
            currentPage--;
            if(role === "Manager"){
                loadAllSessions(currentPage, currentQuery);
            } else {
                loadOwnSessions(currentPage, currentQuery)
            }
        }
    });

    document.getElementById("nextPage").addEventListener("click", () => {
        currentPage++;
        if(role === "Manager"){
            loadAllSessions(currentPage, currentQuery);
        } else {
            loadOwnSessions(currentPage, currentQuery)
        }
    });

    document
        .getElementById("search")
        .addEventListener("input", async (event) => {
            currentQuery = event.target.value;
            currentPage = 1;
            if(role === "Manager"){
                loadAllSessions(currentPage, currentQuery);
            } else {
                loadOwnSessions(currentPage, currentQuery);
            }
        });

    document.addEventListener("DOMContentLoaded", () => {
        if(role === "Manager"){
            loadAllSessions(currentPage);
        } else {
            loadOwnSessions(currentPage)
        }
    });
</script>
