<div class="container mx-auto p-4">
    <div
        class="bg-neutral-700/25 shadow rounded-lg overflow-hidden grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6"
    >
        <!-- Formulario para agendar la sesión -->
        <div class="p-6 border-b sm:col-span-2">
            <div class="bg-neutral-700/25 p-6 rounded-lg shadow mb-6">
                <h2 class="text-2xl font-semibold mb-4 text-white">
                    Agendado de sesión One to One
                </h2>
            </div>

            <% if (error && error !== '') { %>
            <div
                class="bg-red-100 text-red-800 p-4 rounded-lg mb-6 text-center"
            >
                <%= error %>
            </div>
            <% } %> <% if (info != '') { %>
            <div class="bg-green-900 text-green-300 p-4 rounded-lg mb-4">
                <%= info %>
            </div>
            <% } %>

            <form action="/oneToOne/schedule" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                <!-- Datos de la reunión -->
                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-white">
                        Datos de la reunión
                    </h3>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <label
                                for="sessionDate"
                                class="block text-neutral-300 mb-1"
                                >Fecha del One To One:</label
                            >
                            <input
                                id="sessionDate"
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="date"
                                name="date"
                                required
                            />
                        </div>
                        <div>
                            <label class="block text-neutral-300 mb-1"
                                >Hora de la reunión:</label
                            >
                            <input
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="time"
                                name="time"
                                required
                            />
                        </div>
                        <div>
                            <label
                                for="durationInput"
                                class="block text-neutral-300 mb-1"
                                >Duración estimada (minutos):</label
                            >
                            <input
                                placeholder="15"
                                id="durationInput"
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="number"
                                name="expectedTime"
                                required
                                min="1"
                                max="60"
                            />
                        </div>
                        <div>
                            <label
                                for="meetingLink"
                                class="block text-neutral-300 mb-1"
                                >Enlace a reunión:</label
                            >
                            <input
                                id="meetLink"
                                pattern="https:\/\/meet\.google\.com\/[a-z]{3}-[a-z]{4}-[a-z]{3}"
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="text"
                                name="meetingLink"
                                placeholder="https://meet.google.com/abc-defg-hij"
                            />
                        </div>
                    </div>
                </div>

                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-white">
                        Worker data
                    </h3>
                    <div class="mb-4">
                        <label class="block text-neutral-300 mb-1"
                            >Worker's email:</label
                        >
                        <input
                            id="buscar"
                            placeholder="ejemplo@nuclea.solutions"
                            class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                            type="email"
                            name="email"
                            required
                        />
                    </div>

                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block text-neutral-700 mb-1"
                                >Worker's name:</label
                            >
                            <input
                                id="workerName"
                                class="bg-neutral-700 w-full p-2 border border-neutral-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                                type="text"
                                name="name"
                                required
                            />
                        </div>
                        <div>
                            <label class="block text-neutral-300 mb-1"
                                >Worker's surname:</label
                            >
                            <input
                                id="workerSurname"
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="text"
                                name="surname"
                                required
                            />
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input
                        class="btnPrimary"
                        type="submit"
                        value="Enviar"
                    />
                    <a
                        href="/oneToOne"
                        class="btnPrimary ml-2"
                        >Cancelar</a
                    >
                </div>
            </form>
        </div>

        <!-- Tarjeta para consultar la sesión -->
        <div class="p-6">
            <div class="bg-neutral-900 shadow rounded-lg p-6">
                <div class="space-y-6">
                    <div class="bg-neutral-800/50 p-4 rounded-lg shadow-sm">
                        <h3 class="text-xl font-medium mb-2 text-white">
                            Sesión
                        </h3>
                        <p class="text-lg mb-4 text-neutral-300">
                            Consultar sesión de One To One
                        </p>
                        <a
                            href="/oneToOne/check"
                            class="btnPrimary"
                            >Consultar</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const dateInput = document.getElementById("sessionDate");

        const date = new Date();
        const now = new Date(
            date.getFullYear(),
            date.getMonth(),
            date.getDate()
        );

        const today = now.toISOString().split("T")[0];
        dateInput.min = today;
    });

    const meetLinkInput = document.getElementById("meetLink");

    meetLinkInput.oninvalid = function (event) {
        event.target.setCustomValidity(
            "Por favor, ingresa un enlace válido de Google Meet, por ejemplo: https://meet.google.com/wpt-ahuf-tuk"
        );
    };

    meetLinkInput.oninput = function (event) {
        event.target.setCustomValidity("");
    };

    /*AJAX tqm :)*/
    const buscador = document.getElementById("buscar");
    const workerNameInput = document.getElementById("workerName");
    const workerSurnameInput = document.getElementById("workerSurname");

    // Cada vez que el usuario escriba en el input de email...
    buscador.addEventListener("keyup", () => {
        const email = buscador.value.trim();
        if (email !== "") {
            // Realiza una petición GET a la nueva ruta
            fetch("/oneToOne/getFullName/" + encodeURIComponent(email), {
                method: "GET",
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        // Actualiza los inputs con el nombre y apellido obtenidos
                        workerNameInput.value = data.birthName;
                        workerSurnameInput.value = data.surname;
                    } else {
                        // Si no se encontró el usuario, limpia los campos
                        workerNameInput.value = "";
                        workerSurnameInput.value = "";
                    }
                })
                .catch((error) => {
                    console.error("Error fetching full name:", error);
                });
        } else {
            // Si el input está vacío, limpiar los campos
            workerNameInput.value = "";
            workerSurnameInput.value = "";
        }
    });
</script>
