<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/home"> Home </a>
        <a class="navbar-item" href="/home/myprofile"> My profile </a>
        <a class="navbar-item" href="/home/calendar"> Calendar </a>
        <a class="navbar-item" href="/home/checkdepartment"> Department </a>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <h1 class="title">Pestaña de inicio para colaborador, lider y recursos humanos</h1>
    </div>
  </section>