<h1 class="title">absence of the colaborador</h1>
<p>
  In this section, the collaborator can review their absences. For example, if
  the collaborator gets sick and is unable to attend work, it will be recorded
  as an absence.
</p>
