<<<<<<< HEAD
<a href="/home/myprofile/moreinfo/kpis">kpis</a>
<a href="/home//myprofile/moreinfo/administrativeoffenses">administrativeoffenses</a>
=======
<a href="/inicio/myprofile/moreinfo/kpis">kpis</a>
<a href="/inicio//myprofile/moreinfo/administrativeoffenses"
  >administrativeoffenses</a
>
>>>>>>> ea65ac39134d972bf70bd4a536e0e83801f9447b
