<div class="content">
    <div class="card">
        <div class="card-content">
            <div class="field">
                <p><strong>Nombre del departamento:</strong> Recursos Humanos</p>
            </div>
            <div class="content has-text-centered box">
                <table class="table">
                    <caption>Colaboradores en el departamento</caption>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Posicion</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Jose Fernando</th>
                            <th>Martinez Vazquez</th>
                            <th>Colaborador</th>
                            <th>josefer@hotmail.com</th>
                        </tr>
                        <tr>
                            <th>Josue Angel</th>
                            <th>Lopez Castillo</th>
                            <th>Colaborador</th>
                            <th>josue123@hotmail.com</th>
                        </tr>
                        <tr>
                            <th>Karina</th>
                            <th>Lopez Murillo</th>
                            <th>Lider</th>
                            <th>kariMurillo@hotmail.com</th>
                        </tr>
                    </tbody>
                </table>
                <a href="" class="button">Añadir</a>
                <a href="/department/modify" class="button">Modificar</a>
                <a href="/department" class="button">Cancelar</a>
            </div>
        </div>
    </div>
</div>