<div class="container mx-auto">
    <div class="flex flex-wrap gap-4 justify-center">
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/calendar.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/calendar"
                class="w-4/5 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Calendar
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/department.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/department"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Departments
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/vacation.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/vacation"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Vacations
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/absence.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/absence"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Absences
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/holiday.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/holiday"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Holidays
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/onetoone.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/oneToOne"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                One To One's
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/faults.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/fault"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Faults
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/employee.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/employee"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Employees
            </a>
        </div>
        <!--Card-->
        <div class="bg-neutral-800 p-4 rounded-lg shadow-md text-center w-40">
            <img
                src="/icons/report.svg"
                alt="Icono"
                class="w-12 h-12 mx-auto mb-2"
            />
            <a
                href="/reports"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Reports
            </a>
        </div>
    </div>
</div>
