@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

/** Fuentes */

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Black.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

/** Colores */

:root {
    /* Backgrounds & Text */
    --lightColorNavBase: #e5e5e5;
    --darkColorNavBase: #171717;

    --lightColorNavOne: #a1a1a1;
    --darkColorNavOne: #404040;

    --lightColorNavTwo: #d4d4d4;
    --darkColorNavTwo: #262626;

    --lightColorBase: #fafafa;
    --darkColorBase: #0a0a0a;

    /* Botones */
    --lightBtnPrimary: #1dd2b4;
    --darkBtnPrimary: #1b3f43;

    --lightBtnSuccess: #30e16e;
    --darkBtnSuccess: #029033;

    --lightBtnDanger: #ef325e;
    --darkBtnDanger: #9a0000;
}

/** Clases usadas */

/* General */

* {
    transition: background-color 0.3s, width 0.3s, opacity 0.3s, filter 0.3s;
}

* * {
    font-family: "Gotham";
}

.noMargin {
    @apply m-0 p-0;
}

.navItem {
    @apply flex flex-row justify-center overflow-hidden text-nowrap;
}

/* Backgrounds & Text */

.navIcon {
    @apply dark:invert;
}

.bgNav {
    @apply border-r-[1px]
           bg-(--lightColorNavBase) border-(--lightColorNavOne)
           dark:bg-(--darkColorNavBase) dark:border-(--darkColorNavOne);
}

.bgNavOne {
    @apply hover:bg-(--lightColorNavOne)
           dark:hover:bg-(--darkColorNavOne);
}

.bgNavTwo {
    @apply bg-(--lightColorNavTwo) border-(--lightColorNavOne)
           dark:bg-(--darkColorNavTwo) dark:border-(--darkColorNavOne);
}

.bgNavHead {
    @apply hover:bg-neutral-500
           dark:hover:bg-neutral-600
}

.bgBase {
    @apply bg-(--lightColorBase) text-(--darkColorBase)
           dark:bg-(--darkColorBase) dark:text-(--lightColorBase);
}

.invertText {
    @apply text-(--lightColorBase)
           dark:text-(--darkColorBase);
}

/* Botones */

.btnPrimary {
    @apply px-6 py-2 rounded-md cursor-pointer inline-block
           bg-(--lightBtnPrimary) hover:bg-(--lightBtnPrimary)/80 text-(--darkColorBase)
           dark:bg-(--darkBtnPrimary) dark:hover:bg-(--darkBtnPrimary)/50 dark:text-(--lightColorBase);
}

.btnSuccess {
    @apply px-6 py-2 rounded-md cursor-pointer inline-block
           bg-(--lightBtnSuccess) hover:bg-(--lightBtnSuccess)/80 text-(--darkColorBase)
           dark:bg-(--darkBtnSuccess) dark:hover:bg-(--darkBtnSuccess)/50 dark:text-(--lightColorBase);
}

.btnDanger {
    @apply px-6 py-2 rounded-md cursor-pointer inline-block
           bg-(--lightBtnDanger) hover:bg-(--lightBtnDanger)/80 text-(--darkColorBase)
           dark:bg-(--darkBtnDanger) dark:hover:bg-(--darkBtnDanger)/50 dark:text-(--lightColorBase);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background: transparent;
}
