</div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
      <p>Página hecha por el equipo de <strong>WorkCells</strong></p>
      <p>Manuel Bajos Rivera</p>
      <p>Edmundo Canedo Cervantes</p>
      <p>Emilio Santiago López Quiñonez</p>
      <p>Yael Charles Marin</p>
      <p>Mauricio Olguín Sánchez</p>
    </div>
  </footer>
</body>
</html>
