<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/home"> Home </a>
        <a class="navbar-item" href="/home/myprofile"> My profile </a>
        <a class="navbar-item" href="/home/calendar"> Calendar </a>
        <a class="navbar-item" href="/home/checkdepartment"> Department </a>
        <a class="navbar-item" href="/home/addDepartments"> Add Department </a>
        <a class="navbar-item" href="/home/colabvacations"> Vacations </a>
        <a class="navbar-item" href="/home/colababsences"> Absences </a>
        <a class="navbar-item" href="/home/"> Employees </a>
        <a class="navbar-item" href="/home/faults"> Faults </a>
        <a class="navbar-item" href="/home/"> One on One </a>
        <a class="navbar-item" href="/home/diaferiado"> Holiday </a>
      </div>
    </div>
  </nav>
  <section class="section">
  </section>