<div class="primaryContainer bgContainer1">
    <h2 class="text-3xl font-semibold">All Departments</h2>

    <% if (role == 'Human Resources') { %>
    <div class="flex justify-center w-full">
        <div
            class="shadow-md rounded-lg p-4 flex items-center relative content w-full max-w-2xl"
        >
            <img
                src="/icons/search.svg"
                alt="search"
                class="navIcon absolute w-6 h-6 text-white"
            />

            <input
                id="search"
                name="search"
                type="text"
                placeholder="Search by name..."
                class="w-full pl-9 p-2 bg-neutral-700/50 text-white rounded-md outline-none"
            />
        </div>
        <div class="p-2 rounded-md text-center">
            <a class="btnPrimary center m-2" href="/department/add"
                >Add department</a
            >
        </div>
    </div>
    <% } %>

    <div
        class="flex flex-col items-center justify-start py-5"
        id="departmentContainer"
    ></div>

    <div class="flex justify-center gap-3">
        <button id="prevPage" class="btnPrimary">Previous</button>
        <button id="nextPage" class="btnPrimary">Next</button>
    </div>
</div>

<script>
    let currentPage = 1;
    let currentQuery = "";

    async function LoadDepartments(page, query = "") {
        const response = await fetch(
            `/department/search?page=${page}&query=${encodeURIComponent(query)}`
        );
        const payload = await response.json();
        const data = payload.rows;

        let container = "";

        if (data.length === 0) {
            container += `<p>There´s no departments </p>`;
        } else {
            data.forEach((dept) => {
                container += `<div class="w-[90%] bg-neutral-700/25 shadow-md rounded-2xl p-6 mb-4 flex">
                    <div class="w-4/5 pr-6 flex flex-col justify-center">
                <h2 class="text-2xl font-semibold mb-2">${dept.title}</h2>
                <p class="mb-1">
                <span class="font-medium">Status:</span>`;

                if (dept.status === 1) {
                    container += `<span class="textSuccess"> Active </span>`;
                } else {
                    container += `<span class="textWarning"> Inactive </span>`;
                }

                container += `</p>
                    <p><span class="font-medium">Enterprise:</span> ${dept.enterprise}</p>
                    </div>
                    <div class="w-1/5 flex flex-col items-end justify-center gap-2 text-center">`;
                container += `<a href="/department/${dept.departmentID}"
                    class="btnPrimary">
                    Check</a>
                    <a href="/department/${dept.departmentID}/modify"
                    class="btnPrimary">
                    Modify</a>
                    </div>
                    </div>`;
            });
        }
        document.getElementById("departmentContainer").innerHTML = container;
    }

    document.getElementById("prevPage").addEventListener("click", () => {
        if (currentPage > 1) {
            currentPage--;
            LoadDepartments(currentPage);
        }
    });

    document.getElementById("nextPage").addEventListener("click", () => {
        currentPage++;
        LoadDepartments(currentPage);
    });

    document
        .getElementById("search")
        .addEventListener("input", async (event) => {
            currentQuery = event.target.value;
            currentPage = 1;
            LoadDepartments(currentPage, currentQuery);
        });

    // Cargar la primera página al iniciar
    LoadDepartments(currentPage);
</script>
