<div class="flex-1 p-6">
    <!-- Contenido principal -->
    <div class="max-w-7xl mx-auto">
        <!-- Descripción y botón -->
        <div class="bg-neutral-700/25 shadow-md rounded-lg mb-6">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">
                    All Departments
                </h2>
                <a
                    href="/department/add"
                    class="btnPrimary"
                >
                    Add Department
                </a>
            </div>
        </div>

        <!-- Recuadros de departamentos -->
        <div class="space-y-6">
            <div class="bg-neutral-700/25 shadow-md rounded-lg p-6">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold">Human Resources</h3>
                    <p class="text-lg">Department of HR</p>
                </div>
                <div class="flex space-x-4">
                    <a
                        href="/department/check"
                        class="btnPrimary"
                        >Check</a
                    >
                    <a
                        href=""
                        class="btnPrimary"
                        >Delete</a
                    >
                </div>
            </div>

            <div class="bg-neutral-700/25 shadow-md rounded-lg p-6">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold">IT</h3>
                    <p class="text-lg">
                        Department of IT and Software Development
                    </p>
                </div>
                <div class="flex space-x-4">
                    <a
                        href="/department/check"
                        class="btnPrimary"
                        >Check</a
                    >
                    <a
                        href=""
                        class="btnPrimary"
                        >Delete</a
                    >
                </div>
            </div>

            <div class="bg-neutral-700/25 shadow-md rounded-lg p-6">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold">Marketing</h3>
                    <p class="text-lg">
                        Department of marketing and PR
                    </p>
                </div>
                <div class="flex space-x-4">
                    <a
                        href="/department/check"
                        class="btnPrimary"
                        >Check</a
                    >
                    <a
                        href="/department/delete"
                        class="btnPrimary"
                        >Delete</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
