<div class="content">
    <div class="card">
        <div class="card-content">
            <div class="field">
                <label class="label">Nombre del departamento:</label>
                <div class="control">
                    <input type="text" class="input" placeholder="Recursos Humanos">
                </div>
            </div>
            <div class="field">
                <label class="label">Empresa origen:</label>
                <div class="control">
                    <input type="text" class="input" placeholder="Nuclea Solutions">
                </div>
            </div>
            <div class="card-content">
                <h3>Añadir colaboradores / lider de departamento</h3>
                <div class="field">
                    <label class="label">Nombre(s) del colaborador</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Joel Antonio">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Apellido(s) del colaborador</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Mendez Mendiola">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Curp del colaborador</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="ROHJ030618HGTDRSA5">
                    </div>
                </div>
            </div>
            <div class="content has-text-centered box">
                <a href="" class="button">Añadir</a>
                <a href="/department/check" class="button">Cancelar</a>
            </div>
        </div>
    </div>
</div>