<div class="content">
  <div class="card">
    <div class="card-content">
      <h2>Solicitudes de Vacaciones</h2>
    </div>
    <div class="card-content">
      <div class="content has-text-centered box">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Motivo</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>01</th>
              <th>Ir a la playa con mi familia</th>
              <th>10/08/2024</th>
              <th>20/08/2024</th>
              <th>
                <a href="" class="button">Aprobar</a>
                <a href="" class="button">Rechazar</a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a href="/vacation" class="button">Regresar</a>
</div>
