<div class="flex">
    <aside class="w-64"></aside>
    <div class="p-6">
        <div class="bg-white shadow-lg rounded-lg">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">
                    Descripción de la Solicitud de Vacaciones
                </h2>
                <p class="text-gray-700">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptate natus quibusdam accusamus aperiam? Quis vitae, quo
                    asperiores aliquid laborum sequi tenetur ipsa eos sint
                    officia in exercitationem cumque quos doloribus!
                </p>
            </div>
        </div>
        <a
            href="/vacation"
            class="inline-block mt-6 px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
            >Regresar</a
        >
    </div>
</div>
