<div class="content">
  <div class="card">
    <div class="card-content">
      <h2>Descripcion de la Solicitud de Vacaciones</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
        natus quibusdam accusamus aperiam? Quis vitae, quo asperiores aliquid
        laborum sequi tenetur ipsa eos sint officia in exercitationem cumque
        quos doloribus!
      </p>
    </div>
  </div>
  <a href="/vacation" class="button">Regresar</a>
</div>
