<div class="content">
  <div class="card">
    <div class="card-content">
      <h2>Modificar Solicitud de Vacaciones</h2>
    </div>
    <div class="card-content">
      <label class="label">Motivo</label>
      <div class="control">
        <input type="text" class="input" placeholder="Quiero ir a la playa." />
      </div>
    </div>
    <div class="card-content">
      <label class="label">Fecha Inicio</label>
      <input type="text" class="input" placeholder="01/02/2025" />
    </div>
    <div class="card-content">
      <label class="label">Fecha Fin</label>
      <input type="text" class="input" placeholder="02/02/2025" />
    </div>
  </div>
  <a href="" class="button">Confirmar Cambios</a>
  <a href="/vacation" class="button">Cancelar</a>
</div>
