<div class="flex">
    <aside class="w-64"></aside>
    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-lg rounded-lg">
            <div class="p-6">
                <h2 class="text-2xl font-semibold mb-4">
                    Modificar Solicitud de Vacaciones
                </h2>
            </div>
            <div class="p-6">
                <label
                    for="reason"
                    class="block text-sm font-medium text-neutral-100 mb-2"
                    >Motivo</label
                >
                <input
                    type="text"
                    id="reason"
                    class="w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                    placeholder="Quiero ir a la playa."
                />
            </div>
            <div class="p-6">
                <label
                    for="startDate"
                    class="block text-sm font-medium text-neutral-100 mb-2"
                    >Fecha Inicio</label
                >
                <input
                    type="text"
                    id="startDate"
                    class="w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                    placeholder="01/02/2025"
                />
            </div>
            <div class="p-6">
                <label
                    for="endDate"
                    class="block text-sm font-medium text-neutral-100 mb-2"
                    >Fecha Fin</label
                >
                <input
                    type="text"
                    id="endDate"
                    class="w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                    placeholder="02/02/2025"
                />
            </div>
        </div>
        <div class="flex space-x-4 mt-6">
            <a
                href=""
                class="btn bg-[#1B3F43] text-white px-6 py-2 rounded-md hover:bg-[#1B3F43]/80"
                >Confirmar Cambios</a
            >
            <a
                href="/vacation"
                class="btn bg-[#1B3F43] text-white px-6 py-2 rounded-md hover:bg-[#1B3F43]/80"
                >Cancelar</a
            >
        </div>
    </div>
</div>
