<div class="content">
  <div class="card">
    <div class="card-content">
      <h2>Historial de Vacaciones</h2>
    </div>
    <div class="card-content">
      <div class="content has-text-centered box">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Motivo</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Estatus RH</th>
              <th>Estatus Lider</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>01</th>
              <th>
                <a href="/vacation/check">Ir a la playa con mi familia</a>
              </th>
              <th>10/08/2024</th>
              <th>20/08/2024</th>
              <th>Approved</th>
              <th>Approved</th>
            </tr>
            <tr>
              <th>02</th>
              <th>
                <a href="/vacation/check">Voy a ir a visitar a mi familia</a>
              </th>
              <th>25/12/2024</th>
              <th>05/01/2025</th>
              <th>Approved</th>
              <th>Approved</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <h2>Vacaciones pendientes por aprovar</h2>
    </div>
    <div class="card-content">
      <div class="content has-text-centered box">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Motivo</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Estatus RH</th>
              <th>Estatus Lider</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>03</th>
              <th>
                <a href="/vacation/check">Quiero ir a Grecia en Semana Santa</a>
              </th>
              <th>13/04/2025</th>
              <th>20/04/2025</th>
              <th>Pending...</th>
              <th>Pending...</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a href="/vacation/add" class="button">Nueva Solicitud</a>
  <a href="/vacation/check/modify" class="button">Modificar Solicitud</a>
  <div class="is-flex is-justify-content-center">
    <a href="/vacation/approve" class="button"
      >Revisar Solicitudes de Vacaciones</a
    >
  </div>
</div>
